/*QQ图标*/
@font-face {
  font-family: "iconfont"; /* Project id 2577694 */
  src: url('//at.alicdn.com/t/font_2577694_ap7tdy4rhz.woff2?t=1622188350337') format('woff2'),
       url('//at.alicdn.com/t/font_2577694_ap7tdy4rhz.woff?t=1622188350337') format('woff'),
       url('//at.alicdn.com/t/font_2577694_ap7tdy4rhz.ttf?t=1622188350337') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e600";
  font-size: 19px;
 color: rgb(22, 177, 255);
}



/*哔哩哔哩*/
@font-face {
  font-family: "iconfont"; /* Project id 2583122 */
  src: url('//at.alicdn.com/t/font_2583122_20s6zv4knei.woff2?t=1622511593941') format('woff2'),
       url('//at.alicdn.com/t/font_2583122_20s6zv4knei.woff?t=1622511593941') format('woff'),
       url('//at.alicdn.com/t/font_2583122_20s6zv4knei.ttf?t=1622511593941') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tv:before {
  content: "\e608";
  color: rgb(255,192,203);
  font-size: 19px;
}






/*邮箱*/
@font-face {
  font-family: "iconfont"; /* Project id 2577822 */
  src: url('//at.alicdn.com/t/font_2577822_ecdpeqm620j.woff2?t=1622190469385') format('woff2'),
       url('//at.alicdn.com/t/font_2577822_ecdpeqm620j.woff?t=1622190469385') format('woff'),
       url('//at.alicdn.com/t/font_2577822_ecdpeqm620j.ttf?t=1622190469385') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiang:before {
  content: "\e645";
  font-size: 19px;
}

/*telegram*/
@font-face {
  font-family: "iconfont"; /* Project id 2577861 */
  src: url('//at.alicdn.com/t/font_2577861_jvvijxov1np.woff2?t=1622191494130') format('woff2'),
       url('//at.alicdn.com/t/font_2577861_jvvijxov1np.woff?t=1622191494130') format('woff'),
       url('//at.alicdn.com/t/font_2577861_jvvijxov1np.ttf?t=1622191494130') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
  content: "\f245";
  font-size: 19px;
  color: rgb(16, 177, 255);
}

/*分类*/
@font-face {
  font-family: "iconfont"; /* Project id 2581401 */
  src: url('//at.alicdn.com/t/font_2581401_wu24h47a4w.woff2?t=1622432928246') format('woff2'),
       url('//at.alicdn.com/t/font_2581401_wu24h47a4w.woff?t=1622432928246') format('woff'),
       url('//at.alicdn.com/t/font_2581401_wu24h47a4w.ttf?t=1622432928246') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
  content: "\e652";
}

/*标签*/
@font-face {
  font-family: "iconfont"; /* Project id 2581419 */
  src: url('//at.alicdn.com/t/font_2581419_6wchfacmx84.woff2?t=1622433435789') format('woff2'),
       url('//at.alicdn.com/t/font_2581419_6wchfacmx84.woff?t=1622433435789') format('woff'),
       url('//at.alicdn.com/t/font_2581419_6wchfacmx84.ttf?t=1622433435789') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biaoqian:before {
  content: "\e619";
}



/*博文图标*/
@font-face {
  font-family: "iconfont"; /* Project id 2582256 */
  src: url('//at.alicdn.com/t/font_2582256_i81n81kj8bm.woff2?t=1622450994562') format('woff2'),
       url('//at.alicdn.com/t/font_2582256_i81n81kj8bm.woff?t=1622450994562') format('woff'),
       url('//at.alicdn.com/t/font_2582256_i81n81kj8bm.ttf?t=1622450994562') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianchongxing-:before {
  content: "\e641";
}

/*公众号*/
@font-face {
  font-family: "iconfont"; /* Project id 2583171 */
  src: url('//at.alicdn.com/t/font_2583171_d7mx0m5gokh.woff2?t=1622511980587') format('woff2'),
       url('//at.alicdn.com/t/font_2583171_d7mx0m5gokh.woff?t=1622511980587') format('woff'),
       url('//at.alicdn.com/t/font_2583171_d7mx0m5gokh.ttf?t=1622511980587') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gongzhonghao:before {
  content: "\e631";
  color: rgb(4,190,2);
  font-size: 19px;
}